{% extends '/layout/layout.html.twig' %}
{% block title %}
    Au menu
{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <a href="{{ path('front_dishes') }}"> <-- Retour</a>
        <table class="table table-hover">
            <tr>
                <td>Id</td>
                <td>Nom</td>
                <td>Prix</td>
                <td>Calorie</td>
                <td>Allergens</td>
            </tr>
            {% for dish in dishes %}
                {{ dump(dish) }}
                <tr>
                    <th scope="row">{{ dish.id }}</th>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.price }} €</td>
                    <td>{{ dish.calories }}</td>
                    <td>
                        {% for allergen in dish.allergens %}
                            {{ allergen.name }} <br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
