{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Dishes ✅</h1>
        <a href="{{ path('front_dishes') }}"> <-- Retour</a>
        <table class="table table-hover">
            <tr>
                <td>Id</td>
                <td>Nom</td>
                <td>Prix</td>
                <td>Calorie</td>
            </tr>
            {% for dish in dishes %}
                <tr>
                    <th scope="row">{{ dish.id }}</th>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.price }} €</td>
                    <td>{{ dish.calories }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
