{% extends 'layout/layout.html.twig' %}
{% block title %}
    Equipes
{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <table class="table table-hover">
            <tr>
                <td>Id</td>
                <td>Firstname</td>
                <td>Lastname</td>
                <td>Email</td>
                <td>Job title</td>
            </tr>
            <tr><td><strong>Midi :</strong></td></tr>
            {% for employee in day_team_midi %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.firstname }}</td>
                    <td>{{ employee.lastname }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.jobtitle }}</td>
                </tr>
            {% endfor %}
            <tr><td><strong>Soir :</strong></td></tr>
            {% for employee in day_team_soir %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.firstname }}</td>
                    <td>{{ employee.lastname }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.jobtitle }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
