{% extends 'layout/layout.html.twig' %}

{% block title %}ClientOrder{% endblock %}

{% block body %}
    <h1>ClientOrder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>date</th>
                <th>serveur</th>
                <th>price</th>
                <th>status</th>
            </tr>
            <tr>
                <td>{{ client_order.id }}</td>
                <td>{{ client_order.date | date('Y-d-m H:i:s')}}</td>
                <td>{{ client_order.serveur }}</td>
                <td>{{ client_order.price }}</td>
                <td>{{ client_order.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_order_index') }}">back to list</a>

    <a href="{{ path('client_order_edit', {'id': client_order.id}) }}">edit</a>

    {{ include('client_order/_delete_form.html.twig') }}
{% endblock %}
